<% public_projects = []
   initiated_project = []
   settings = Setting.send "plugin_redmine_custom_project"
   Project.where(is_public: true).each{|project|
     cf = project.custom_field_values.select{|cfv| cfv.custom_field.name == settings['pr_stage']}.first
     if cf and cf.value == settings['value']
       initiated_project<< project
     else
       public_projects<< project
     end
   } %>

<div class="box">
  <h2>Initiated projects</h2>
  <ul>
  <% initiated_project.each do |project| %>

    <li><%= link_to_project project %></li>
  <% end %>
  </ul>

</div>


<div class="box">
  <h2>Public projects</h2>
  <ul>
    <% public_projects.each do |project| %>

        <li><%= link_to_project project %></li>
    <% end %>
  </ul>

</div>